body {
    background: -webkit-radial-gradient( center 0px, circle farthest-corner, #f1f1f1 48%, #d8d8d8 100% );
}

#container {
    position: relative;
    width: 380px;
    margin: 80px auto;
    padding: 36px 40px 48px;
    text-align: center;
    color: #484848;
    text-shadow: 0px 1px 0px #fff;
    font-family: arial, sans-serif;
    font-size: 13px;
    background: #f6f6f6;
    border-radius: 13px;
    box-shadow: 0px -2px 2px #fff, 0px 2px 2px #aaa;
}

h1 {
    color: #686868;
    font-size: 23px;
    letter-spacing: -1px;
    text-shadow: 0px 1px 0px #fff;
}

h1 span {
    margin: 0px 0px 0px 2px;
    color: #aaa;
}

form {
    width: 328px;
    margin: 48px 0px 0px 36px;
    text-align: left;
}

select {
    width: 280px;
    height: 23px;
    color: #484848;
    margin: 8px 0px 28px;
    background: -webkit-linear-gradient( top, #fff, #fff );
    border: 1px solid #b1b1b1;
    cursor: pointer;
}

input[ type = checkbox ] {
    margin: 10px 0px 8px 2px;
}

button {
    width: 140px;
    height: 40px;
    margin: 28px 15px 0px -1px;
    padding: 8px 13px 9px;
    color: #484848;
    text-shadow: 0px 1px 0px #fff;
    background: -webkit-linear-gradient( top, #f1f1f1, #d1d1d1 );
    border-radius: 8px;
    border: none;
    box-shadow: 0px -1px 1px #fff, 0px 1px 1px #aaa;
    cursor: pointer;
}

button:hover {
    background: -webkit-linear-gradient( top, #d8d8d8, #b1b1b1 );
    box-shadow: 0px -1px 1px #fff, 0px 1px 1px #888;
}

#info_level_container {
    position: absolute;
    top: 300px;
    left: 364px;
}

#info_level_icon {
    width: 20px;
    height: 20px;
    background: url( "../images/icon_info.png" ) no-repeat;
    cursor: pointer;
}

#info_level_icon:hover {
    background: url( "../images/icon_info_hover.png" ) no-repeat;
}

#info_container {
    opacity: 0;
    position: absolute;
    width: 196px;
    margin: 0px;
    top: -24px;
    left: 28px;
    padding: 8px 13px;
    text-align: left;
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-shadow: none;
    background: rgba( 48, 48, 48, 0.8 );
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px rgba( 28, 28, 28, 0.8 );
    cursor: default;
    
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.28s;
}

#info_arrow {
    position: absolute;
    bottom: 29px;
    left: -8px;
}

#notification {
    display: none;
    opacity: 0;
    position: absolute;
    margin: 0px;
    top: 140px;
    left: 140px;
    padding: 28px 28px;
    text-align: left;
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    text-shadow: none;
    background: rgba( 48, 48, 48, 0.8 );
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px rgba( 28, 28, 28, 0.8 );
}

#info_keyboard_shortcut_container {
    width: 313px;
    margin: 42px 0px 8px -2px;
    padding: 13px 0px 0px 2px;
    color: #888;
    border-top: 1px solid #d8d8d8;
}

#info_keyboard_shortcut_container ul {
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

#info_keyboard_shortcut_container li {
    margin: 0px 0px 8px;
    padding: 0px;
}

#info_keyboard_shortcut_container li span {
    margin: 0px 2px;
}