body {
  --color-background: #f1f1f1;
  --color-foreground: #484848;
  --color-foreground2: #686868;
  --color-foreground3: #888888;
  --color-mid: #d8d8d8;
  --color-advanced-background: #e8e8e8;
  --width-checkbox-border: 2px;
  --duration-checkbox-transition: 80ms;

  color: var(--color-foreground);
  background: -webkit-radial-gradient(
    center 0px,
    circle farthest-corner,
    var(--color-background) 48%,
    var(--color-mid) 100%
  );
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.options {
  position: relative;
  width: 480px;
  margin: 12vh auto;
  padding: 28px 0 58px;
  border-radius: 8px;
  box-shadow: 0px -2px 2px rgba(255, 255, 255, 0.8), 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.options_header {
  margin: 24px 0 12px;
  font-size: 24px;
  text-align: center;
  color: var(--color-foreground2);
}

.options_header span {
  margin-left: 6px;
  color: #aaa;
}

.options_form {
  padding: 48px 64px 0;
  font-size: 14px;
  line-height: 24px;
}

select {
  width: 280px;
  height: 28px;
  margin-top: 6px;
  margin-bottom: 32px;
  color: var(--color-foreground);
  border: 1px solid #b1b1b1;
  cursor: pointer;
}

#form_advanced-button {
  position: relative;
  padding-inline-end: 20px;
  color: var(--color-foreground);
  background: transparent;
  border: none;
  cursor: pointer;
}

#form_advanced-button_arrow-container {
  position: absolute;
  top: 10px;
  right: 6px;
  transform: rotate(90deg);
  transition: transform 0.48s ease-out;
}

#form_advanced-button_arrow {
  display: block;
  background-color: #c8c8c8;
  transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

#form_advanced-button_arrow:before,
#form_advanced-button_arrow:after {
  content: "";
  position: absolute;
  display: block;
  background-color: inherit;
}

#form_advanced-button_arrow,
#form_advanced-button_arrow:before,
#form_advanced-button_arrow:after {
  width: 6px;
  height: 6px;
  border-top-right-radius: 30%;
}

#form_advanced-button_arrow:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

#form_advanced-button_arrow:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

#form_advanced {
  position: relative;
  height: 0;
  margin: 10px -64px 18px;
  padding: 0 64px;
  background: linear-gradient(to bottom, var(--color-mid) 0%, var(--color-advanced-background) 1%, var(--color-advanced-background) 99%, var(--color-background) 100%);
  transition: height 0.48s ease-out;
  overflow: hidden;
}

.form_advanced_opacity_label {
  display: block;
  margin-top: 28px;
}

.form_advanced_opacity {
  display: flex;
  align-items: center;
  margin-block: 8px 32px;
}

.form_advanced_opacity_input {
  display: inline-block;
  width: 132px;
  height: 18px;
  margin: 0 10px;
  background-color: var(--color-advanced-background);
  accent-color: var(--color-foreground2);
}

input[type=range] {
  appearance: none;
}

input[type=range]:hover {
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 2px;
  background: #c8c8c8;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-foreground2);
  transform: translateY(-5px);
  transition-property: all;
  transition: 1000ms;
}

.form_advanced_opacity_input-label {
  display: inline-block;
  color: var(--color-foreground3);
}

#form_advanced_level-info {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#form_advanced_level-info::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 4px;
  background: url("../images/icon_info.png") no-repeat;
}

#form_advanced_level-info:hover::before {
  background: url("../images/icon_info_hover.png") no-repeat;
}

#level-info_tooltip {
  opacity: 0;
  position: absolute;
  width: 196px;
  margin: 0px;
  top: 482px;
  left: 380px;
  padding: 8px 13px;
  text-align: left;
  color: var(--color-background);
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  text-shadow: none;
  background: rgba(28, 28, 28, 0.91);
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(28, 28, 28, 0.88);
  cursor: default;
  transition: opacity 0.28s;
  z-index: 10;
  pointer-events: none;
}

.form_advanced_overlap {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

#form_advanced_overlap_checkbox {
  appearance: none;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: var(--color-background);
  border-radius: 2px;
  border: var(--width-checkbox-border) solid var(--color-foreground2);
  transition-property: background-color;
  transition: var(--duration-checkbox-transition) ease-out;
  transition-delay: var(--duration-checkbox-transition);
  cursor: pointer;
}

#form_advanced_overlap_checkbox:checked {
  background-color: var(--color-foreground2);
  transition-delay: 0ms;
}

#form_advanced_overlap_checkbox:before,
#form_advanced_overlap_checkbox:after {
  content: "";
  position: absolute;
  background: var(--color-background);
  width: calc(var(--width-checkbox-border) * 2);
  height: var(--width-checkbox-border);
  top: 51%;
  left: 13%;
  transform-origin: left center;
}

#form_advanced_overlap_checkbox:before {
  transform: rotate(45deg) translate(calc(var(--width-checkbox-border) / -2), calc(var(--width-checkbox-border) / -2)) scaleX(0);
  transition: transform var(--duration-checkbox-transition) ease-out var(--duration-checkbox-transition);
}

#form_advanced_overlap_checkbox:after {
  width: calc(var(--width-checkbox-border) * 6);
  transform: rotate(-45deg) translateY(calc(var(--width-checkbox-border) * 2)) scaleX(0);
  transform-origin: left center;
  transition: transform var(--duration-checkbox-transition) ease-out;
}

#form_advanced_overlap_checkbox:checked:before {
  transform: rotate(45deg) translate(calc(var(--width-checkbox-border) / -2), calc(var(--width-checkbox-border) / -2)) scaleX(1);
  transition: transform var(--duration-checkbox-transition) ease-out;
}

#form_advanced_overlap_checkbox:checked:after {
  width: calc(var(--width-checkbox-border) * 6);
  transform: rotate(-45deg) translateY(calc(var(--width-checkbox-border) * 2)) scaleX(1);
  transition: transform var(--duration-checkbox-transition) ease-in-out var(--duration-checkbox-transition);
}

#form_reset {
  padding: 8px 18px;
  background-color: var(--color-mid);
  border: none;
  border-radius: 4px;
  letter-spacing: initial;
  text-transform: none;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2) ,0px 2px 2px 0px rgba(0,0,0,0.13), 0px 1px 5px 0px rgba(0,0,0,0.1);
  transition-property: box-shadow;
  transition: 300ms ease-out;
  cursor: pointer;
}

#form_reset:hover,
#form_reset:focus-visible {
  background-color: #c8c8c8;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

#form_reset:active {
  background-color: #a8a8a8;
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3),0px 3px 5px 0px rgba(0,0,0,0.18),0px 1px 10px 0px rgba(0,0,0,0.13);
}

.form_keyboard {
  width: 100%;
  margin: 48px 0 0;
  padding: 40px 0 0 4px;
  color: var(--color-foreground3);
  border-top: 1px solid var(--color-mid);
}

.form_keyboard p {
  margin: 0 0 6px;
}

.form_keyboard ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.form_keyboard_container li span {
  margin: 0 2px;
}
