body {
  color: var(--color-foreground);
  background: -webkit-radial-gradient(
    center 0px,
    circle farthest-corner,
    var(--color-background) 48%,
    var(--color-mid) 100%
  );
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  --color-background: #f1f1f1;
  --color-foreground: #484848;
  --color-mid: #d8d8d8;
}

div[class^="mdc-"],
button[class^="mdc-"] {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.options {
  position: relative;
  width: 480px;
  margin: 12vh auto;
  padding: 28px 0 58px;
  border-radius: 8px;
  box-shadow: 0px -2px 2px rgba(255, 255, 255, 0.8), 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.options_header {
  margin: 24px 0 12px;
  font-size: 24px;
  text-align: center;
  color: #686868;
}

.options_header span {
  margin-left: 6px;
  color: #aaa;
}

.options_form {
  padding: 48px 64px 0;
  font-size: 14px;
  line-height: 24px;
}

select {
  width: 280px;
  height: 28px;
  margin-top: 6px;
  margin-bottom: 32px;
  color: var(--color-foreground);
  border: 1px solid #b1b1b1;
  cursor: pointer;
}

#form_advanced-button {
  position: relative;
  color: var(--color-foreground);
  cursor: pointer;
}

.form_advanced-button_arrow {
  position: absolute;
  top: 4px;
  right: -18px;
  transition: transform 0.48s ease-out;
}

#form_advanced {
  position: relative;
  height: 0;
  margin: 10px -64px 18px;
  padding: 0 64px;
  background: linear-gradient(to bottom, var(--color-mid) 0%, #e8e8e8 1%, #e8e8e8 99%, var(--color-background) 100%);
  transition: height 0.48s ease-out;
  overflow: hidden;
}

.form_advanced_opacity_label {
  display: block;
  margin-top: 28px;
}

.form_advanced_opacity {
  margin-bottom: 12px;
}

.form_advanced_opacity_input {
  display: inline-block;
  width: 132px;
  margin: 0 8px;
}

.form_advanced_opacity_input-label {
  display: inline-block;
  color: #888;
  transform: translateY(-19px);
}

#form_advanced_level-info {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#form_advanced_level-info::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 4px;
  background: url("../images/icon_info.png") no-repeat;
}

#form_advanced_level-info:hover::before {
  background: url("../images/icon_info_hover.png") no-repeat;
}

#level-info_tooltip {
  opacity: 0;
  position: absolute;
  width: 196px;
  margin: 0px;
  top: 482px;
  left: 380px;
  padding: 8px 13px;
  text-align: left;
  color: var(--color-background);
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  text-shadow: none;
  background: rgba(28, 28, 28, 0.91);
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(28, 28, 28, 0.88);
  cursor: default;
  transition: opacity 0.28s;
  z-index: 10;
}

.form_advanced_overlap {
  margin: 0 -11px;
}

.form_advanced_overlap label {
  padding: 0;
  color: var(--color-foreground);
}

#form_reset {
  letter-spacing: initial;
  text-transform: none;
}

.form_keyboard {
  width: 100%;
  margin: 48px 0 0;
  padding: 40px 0 0 4px;
  color: #888;
  border-top: 1px solid var(--color-mid);
}

.form_keyboard p {
  margin: 0 0 6px;
}

.form_keyboard ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.form_keyboard_container li span {
  margin: 0 2px;
}
